*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img1{
    opacity: 0.5;
}
.navbar{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
ul{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    margin-left: 750px;
}
li{
    list-style-type: none;
    color: rgb(192, 58, 58);
    text-decoration: none;
    display: inline-block;
    margin-left: 30px;
}

.container1{
position: absolute;
top: 30%;
left: 30%;
align-content: center;
justify-content: center;
}
.heading1{
    font-size: 70px;
    text-align: center;
}
